{% extends "base.html" %}

{% block app_content %}
    <h1>Hae läsnäolo</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.group_select.label }}
            {{ form.group_select() }}
            {% for error in form.group_select.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit }}</p>
    </form>
{% if list %}
<table>
    <thead>
        <tr>
            <th scope="col">Nimi</th>
            <th scope="col">Läsnä</th>
        </tr>
    </thead>
    {% for row in list %}
    <tbody>
        <tr>
            <td> {{ row[1] }} </td>
            <td> {{ row[2] }} </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}
{% endblock %}